body
{
    margin: 0;
}

#top, #startstop-service
{
    width: 100%;
    padding: 10px;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

#top
{
    text-align: center;
}

#startstop-service
{
    position: fixed;
    bottom: 0;
    z-index: 5;
    border-top: #ffffff solid 2px;
}